/.gradle/8.14.3/executionHistory/executionHistory.bin
/app/release/app-release.aab
/.gradle/8.5/dependencies-accessors/gc.properties
/.gradle/8.5/gc.properties
/.gradle/8.5/fileChanges/last-build.bin
/.gradle/8.14.3/executionHistory/executionHistory.lock
/.gradle/8.14.3/fileHashes/fileHashes.lock
/build/reports/problems/problems-report.html
/.idea/deploymentTargetSelector.xml
